<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Basic Table </title>

    <!-- Bootstrap CSS -->
    <link href="Bootstrap/bootstrap_admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="Bootstrap/bootstrap_admin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="Bootstrap/bootstrap_admin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="Bootstrap/bootstrap_admin/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="Bootstrap/bootstrap_admin/css/style.css" rel="stylesheet">
    <link href="Bootstrap/bootstrap_admin/css/style-responsive.css" rel="stylesheet" />
    <!-- <style>
            .switch {
              position: relative;
              display: inline-block;
              width: 60px;
              height: 34px;
            }
            
            .switch input { 
              opacity: 0;
              width: 0;
              height: 0;
            }
            
            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
            }
            
            .slider:before {
              position: absolute;
              content: "";
              height: 26px;
              width: 26px;
              left: 4px;
              bottom: 4px;
              background-color: white;
              -webkit-transition: .4s;
              transition: .4s;
            }
            
            input:checked + .slider {
              background-color: #2196F3;
            }
            
            input:focus + .slider {
              box-shadow: 0 0 1px #2196F3;
            }
            
            input:checked + .slider:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
            }
            
            /* Rounded sliders */
            .slider.round {
              border-radius: 34px;
            }
            
            .slider.round:before {
              border-radius: 50%;
            }
            </style> -->
</head>

<body>
    <!-- container section start -->
    <section id="container" class="">
        <!--header start-->
        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
                        class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="/" class="logo">EDU <span class="lite">CENTER</span></a>
            <!--logo end-->



            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">

                    <!-- alert notification start-->
                    
                    <!-- alert notification end-->
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="img/avatar1_small.jpg">
                            </span>
                            <span class="username"><%=taiKhoan.tenThanhVien%></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="/thongtingiaovien"><i class="icon_profile"></i> Thông tin cá nhân</a>
                            </li>
                            <li>
                                <a href="/logoutGV"><i class="icon_key_alt"></i> Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                        <li class="">
                                <a class="" href="/danhsachkhoahoc">
                                    <i class="icon_house_alt"></i>
                                    <span>Danh sách khóa học</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="" href="/danhsachchuakiemduyet">
                                    <span>Danh sách chưa kiểm duyệt</span>
                                </a>
                            </li>
                            <li class="">
                                    <a class="" href="/danhsachkhonghople">
                                        <span>Danh sách không hợp lệ</span>
                                    </a>
                                </li>
                   
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>

        <!--main content start-->
        <section id="main-content">
                <section class="wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                    <table class="table table-striped">
                                            <thead>
                                              <tr>
                                                <th scope="col">Mã khóa học</th>
                                                <th scope="col">Hình ảnh</th>
                                                <th scope="col">Tên khóa học</th>
                                                <th scope="col">Giá</th>
                                                <th scope="col">Mô tả</th>
                                                <th scope="col">Danh mục</th>
                                                <th scope="col">Trạng thái ẩn/hiện</th>
                                                <th scope="col">Trạng thái kiểm duyệt</th>
                                                <th><a href="/themkhoahoc"><button type="button" class="btn btn-warning">Thêm</button></a></th>
                            
                                                
                                              </tr>
                                            </thead>
                                            <tbody>
                                            <%if(listKhoaHoc != null){%>
                                                <% listKhoaHoc.forEach(function(khoahoc){ %>
                                                <tr>
                                                    <td><%=khoahoc.maKhoaHoc%></td>
                                                    <td><img src="<%=khoahoc.anhDaiDien%>" width="50" height="50"></td>
                                                    <td><%=khoahoc.tenKhoaHoc%></td>
                                                    <td><%=khoahoc.giaKhoaHoc%></td>
                                                    <td><%=khoahoc.moTaKhoaHoc%></td>
                                                    <td><%=khoahoc.danhMuc%></td>
                                                    <%if(khoahoc.trangThaiKhoaHoc == 'true'){%>
                                                        <td>Hiện</td>
                                                    <%}%>
                                                    <%if(khoahoc.trangThaiKhoaHoc == 'false'){%>
                                                        <td>Ẩn</td>
                                                    <%}%>
                                                    <%if(khoahoc.trangThaiKiemDuyet == 'true'){%>
                                                        <td>Đã kiểm duyệt</td>
                                                    <%}%>
                                                    <%if(khoahoc.trangThaiKiemDuyet == 'false'){%>
                                                        <td>Đang chờ kiểm duyệt</td>
                                                    <%}%>
                                                   
                                                    <td>
                                                        <a href="/capnhatkhoahoc?maKhoaHoc=<%=khoahoc.maKhoaHoc%>"><button type="button" class="btn btn-success">Cập nhật</button></a>
                                                    
                                                    </td>
                                                </tr>
                                                <% }); %>
                                            <%}%>
                                            </tbody>
                                          </table>
                            </div>
                        </div>
                </section>
                
            </section>
        </section>
    </section>
    <!-- container section end -->
    <!-- javascripts -->
    <script src="Bootstrap/bootstrap_admin/js/jquery.js"></script>
    <script src="Bootstrap/bootstrap_admin/js/bootstrap.min.js"></script>
    <!-- nicescroll -->
    <script src="Bootstrap/bootstrap_admin/js/jquery.scrollTo.min.js"></script>
    <script src="Bootstrap/bootstrap_admin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!--custome script for all page-->
    <script src="Bootstrap/bootstrap_admin/js/scripts.js"></script>

    <script src="javascripts/jquery.dynamicTable-1.0.0.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function () {
            var max_fields = 100; //maximum input boxes allowed
            var wrapper = $(".input_fields_wrap"); //Fields wrapper
            var add_button = $(".add_field_button"); //Add button ID

            var x = 1; //initlal text box count
            $(add_button).click(function (e) { //on add input button click
                e.preventDefault();
                if (x < max_fields) { //max input box allowed
                    x++; //text box increment

                    //Nếu load gì load trên này .
                    $(wrapper).append('<div style="margin-bottom:15px;"> <input style="border: 1px solid black;" type="text"  required="true" name="tenBaiHoc' + (x - 1).toString(10) + '" placeholder="Tên bài học."/> <input style="border: 1px solid black;" type="text" name="moTa' + (x - 1).toString(10) + '" placeholder="Mô tả bài học."/> <a href="#" class="remove_field">Xóa</a> <input type="file" class="form-control" name="url' + (x - 1).toString(10) + '" placeholder="Chọn file."></div>'); //add input box
                }
            });

            $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
                e.preventDefault(); $(this).parent('div').remove(); x--;
            })
        });
    </script>


</body>

</html>